[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
h2ogpte = "==1.4.10"
mediawikiapi = "*"
requests = "*"
arxiv = "*"
jupyter = "*"
streamlit = "*"
boto3 = "*"
black = "*"
python-pptx = "*"
psycopg2 = "*"
python-dotenv = "*"
pyyaml = "*"

[dev-packages]