[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
h2ogpte = "*"
mediawikiapi = "*"
requests = "*"
arxiv = "*"
jupyter = "*"
streamlit = "*"
boto3 = "*"
black = "*"
python-pptx = "*"
streamlit-authenticator = "*"

[dev-packages]
