[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mediawikiapi = "*"
h2ogpte = "*"
streamlit = "*"
arxiv = "*"
jupyter = "*"

[dev-packages]
duckduckgo-search = "*"
jupyter = "*"

[requires]
python_version = "3.11"
